name: Build Precompiled Binaries

on:
  workflow_dispatch:
  workflow_call:
    inputs:
      isNightly:
        type: boolean
        required: true
        default: false

env:
  PIP_BREAK_SYSTEM_PACKAGES: 1

jobs:
  build-precompiled-bin:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            container: debian:12
          - os: ubuntu-24.04-arm
            container: debian:12
          - os: macos-latest
          - os: windows-latest
    runs-on: ${{ matrix.os }}
    container: ${{ matrix.container }}
    steps:
      - uses: actions/checkout@v4

      - name: Install build dependencies (Linux container)
        if: runner.os == 'Linux'
        run: |
          apt-get update
          apt-get install -y wget gnupg lsb-release software-properties-common
          apt-get install -y libstdc++-13-dev  # needed for c++20 compat
          wget https://apt.llvm.org/llvm.sh
          chmod +x llvm.sh
          ./llvm.sh 20
          apt-get install -y cmake ninja-build python3 python3-pip git ccache
          rm llvm.sh

      - name: Install uv
        run: python3 -m pip install uv

      - name: Setup ccache (Linux)
        if: runner.os == 'Linux'
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: precompiled-bin-${{ runner.os }}-${{ runner.arch }}-${{ github.ref }}
          max-size: 2G
          restore-keys: |
            precompiled-bin-${{ runner.os }}-${{ runner.arch }}-refs/heads/master
            precompiled-bin-${{ runner.os }}-${{ runner.arch }}-

      - name: Setup ccache (macOS)
        if: runner.os == 'macOS'
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: precompiled-bin-${{ runner.os }}-${{ github.ref }}
          max-size: 2G
          restore-keys: |
            precompiled-bin-${{ runner.os }}-refs/heads/master
            precompiled-bin-${{ runner.os }}-

      - name: Setup ccache (Windows)
        if: runner.os == 'Windows'
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: precompiled-bin-${{ runner.os }}-${{ github.ref }}
          max-size: 2G
          restore-keys: |
            precompiled-bin-${{ runner.os }}-refs/heads/master
            precompiled-bin-${{ runner.os }}-

      - name: Update nightly version
        if: ${{ inputs.isNightly == true }}
        shell: bash
        run: |
          uv venv
          if [ "$RUNNER_OS" = "Windows" ]; then
            source .venv/Scripts/activate
          else
            source .venv/bin/activate
          fi
          uv pip install packaging
          python3 update-nightly-build-version.py
        working-directory: scripts

      - name: Build precompiled binaries (Linux)
        if: runner.os == 'Linux'
        env:
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
        run: |
          export CC=clang-20
          export CXX=clang++-20
          export LDFLAGS="-static-libstdc++"
          make GEN=Ninja
          make install

      - name: Build precompiled binaries (macOS)
        if: runner.os == 'macOS'
        env:
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
          MACOSX_DEPLOYMENT_TARGET: 13.3
          CMAKE_OSX_ARCHITECTURES: "x86_64;arm64"
        run: |
          make GEN=Ninja
          make install

      - name: Enable long paths (Windows)
        if: runner.os == 'Windows'
        run: |
          New-ItemProperty -Path "HKLM:\SYSTEM\CurrentControlSet\Control\FileSystem" -Name "LongPathsEnabled" -Value 1 -PropertyType DWORD -Force
          git config --system core.longpaths true
        shell: pwsh

      - name: Build precompiled binaries (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        env:
          CMAKE_C_COMPILER_LAUNCHER: ccache
          CMAKE_CXX_COMPILER_LAUNCHER: ccache
        run: |
          powershell.exe -Command "Add-MpPreference -ExclusionPath '${{ github.workspace }}'"
          call "C:\Program Files\Microsoft Visual Studio\2022\Enterprise\VC\Auxiliary\Build\vcvars64.bat"
          make GEN=Ninja
          make install

      - name: Collect artifacts (Linux)
        if: runner.os == 'Linux'
        run: |
          mv install/include/lbug.h .
          mv install/include/lbug.hpp .
          mv install/lib/liblbug.so .
          mv install/bin/lbug .

      - name: Collect artifacts (macOS)
        if: runner.os == 'macOS'
        run: |
          mv install/include/lbug.h .
          mv install/include/lbug.hpp .
          mv install/lib/liblbug.dylib .
          mv install/bin/lbug .

      - name: Verify binary information (macOS)
        if: runner.os == 'macOS'
        run: |
          file -b lbug
          otool -l lbug | grep minos
          file -b liblbug.dylib
          otool -l liblbug.dylib | grep minos

      - name: Collect artifacts (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          move install\include\lbug.h
          move install\include\lbug.hpp
          move install\bin\lbug_shared.dll
          move install\lib\lbug_shared.lib
          move install\bin\lbug_shell.exe lbug.exe

      - name: Create tarball (Linux)
        if: runner.os == 'Linux'
        run: |
          if [ "${{ runner.arch }}" = "ARM64" ]; then
            ARCH="aarch64"
          else
            ARCH="x86_64"
          fi
          tar -czvf liblbug-linux-${ARCH}.tar.gz lbug.h lbug.hpp liblbug.so
          tar -czvf lbug_cli-linux-${ARCH}.tar.gz lbug

      - name: Create tarball (macOS)
        if: runner.os == 'macOS'
        run: |
          tar -czvf liblbug-osx-universal.tar.gz lbug.h lbug.hpp liblbug.dylib
          tar -czvf lbug_cli-osx-universal.tar.gz lbug

      - name: Create zip files (Windows)
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          powershell -Command "Compress-Archive -Path lbug.h, lbug.hpp, lbug_shared.dll, lbug_shared.lib -DestinationPath liblbug-windows-x86_64.zip"
          powershell -Command "Compress-Archive -Path lbug.exe -DestinationPath lbug_cli-windows-x86_64.zip"

      - uses: actions/upload-artifact@v4
        if: runner.os == 'Linux'
        with:
          name: liblbug-linux-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
          path: liblbug-linux-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}.tar.gz

      - uses: actions/upload-artifact@v4
        if: runner.os == 'Linux'
        with:
          name: lbug_cli-linux-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}
          path: lbug_cli-linux-${{ runner.arch == 'ARM64' && 'aarch64' || 'x86_64' }}.tar.gz

      - uses: actions/upload-artifact@v4
        if: runner.os == 'macOS'
        with:
          name: liblbug-osx-universal
          path: liblbug-osx-universal.tar.gz

      - uses: actions/upload-artifact@v4
        if: runner.os == 'macOS'
        with:
          name: lbug_cli-osx-universal
          path: lbug_cli-osx-universal.tar.gz

      - uses: actions/upload-artifact@v4
        if: runner.os == 'Windows'
        with:
          name: liblbug-windows-x86_64
          path: liblbug-windows-x86_64.zip

      - uses: actions/upload-artifact@v4
        if: runner.os == 'Windows'
        with:
          name: lbug_cli-windows-x86_64
          path: lbug_cli-windows-x86_64.zip
